body {
    background: hsla(0, 83%, 68%, 1);

    background: linear-gradient(0deg, hsla(0, 83%, 68%, 1) 0%, hsla(276, 100%, 50%, 1) 100%);
    
    background: -moz-linear-gradient(0deg, hsla(0, 83%, 68%, 1) 0%, hsla(276, 100%, 50%, 1) 100%);
    
    background: -webkit-linear-gradient(0deg, hsla(0, 83%, 68%, 1) 0%, hsla(276, 100%, 50%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F16C6C", endColorstr="#9900FF", GradientType=1 );

}

.nav li {
    display: inline;
    padding-right: 20px;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.description {
    justify-content: center;
    position: absolute;
}

.coco {
    font-family: 'Inter', sans-serif ;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

.cocodesc {
    font-family: 'Inter', sans-serif ;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 35px;
}

.comingSoon {
    display: block;
    margin: 0 auto;
    background-color: #D9D9D9;
    color: black;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    font-weight: bold;
}

.comingSoon {
    transition-duration: 0.4s;
}
  
.comingSoon:hover {
    background-color: #4f4f4f;
    color: white;
  }

.home {
    float: left;
    margin-left: 84px;
    width: 258px;
    height: 519px;
}

.welcome {
    float: right;
    margin-right: 84px;
    width: 256px;
    height: 519px;
}

.weatherView {
    margin-top: 55px;
    width: 256px;
    height: 519px;
}

.desc {
    max-width: 400px;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.desc-head {
    font-size: 30px;
    letter-spacing: 37.5;
    line-height: 35px;
    font-weight: 500;
}

.desc-p {
    font-size: 12px;
}

hr.solid {
    border-top: 8px solid black;
    border-radius: 10px;
    max-width: 40px;
    margin: auto;
    margin-bottom: 10px;
}

#rectangle {
    width:100%;
    height:100%;
    background:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-bottom: 50px;
}

hr {
	opacity: 0.3;
	border-color: #000;
}

#css-only-modals {
	position: fixed;
	pointer-events: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10000000;
	text-align: center;
	white-space: nowrap;
	height: 100%;
}

#css-only-modals:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.css-only-modal-check {
	pointer-events: auto;
}

.css-only-modal-check:checked ~ .css-only-modal {
	opacity: 1;
	pointer-events: auto;
}

.css-only-modal {
	width: 40%;
	background: #FFF;
	z-index: 1;
	display: inline-block;
	position: relative;
	pointer-events: auto;
	padding: 25px;
	text-align: right;
	border-radius: 4px;
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	opacity: 0;
	pointer-events: none;
}

.css-only-modal h2 {
	text-align: center;
}

.css-only-modal p {
	text-align: left;
}

.css-only-modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
}

.css-only-modal-check {
	display: none;
}

.css-only-modal-check:checked ~ #screen-shade {
	opacity: 0.5;
	pointer-events: auto;
}

#screen-shade {
	opacity: 0;
	background: #000;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	transition: opacity 0.8s;
}

.stripe > .container > p,
.stripe > .container > ul {
	text-align: left;
	padding: 35px;
	margin: 0;
}

.stripe > .container > hr {
	margin: 50px 0;
}

#nav-spacer {
	display: block;
	height: 50px;
}

.stripe {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.default {
	color: White;
	background: DarkCyan;
}

.inverse {
	color: DarkCyan;
	background: White;
}

.grey {
	color: White;
	background: DimGrey;
}

.grey-light {
	color: DimGrey;
	background: White;
}

.color {
	color: DarkOrange;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.coco {
    animation: color-change 3s;
  }
  
  @keyframes color-change {
    0% { color: pink; }
    50% { color: rgb(255, 127, 210); }
    100% { color: white; }
  }
  